.btn-dark-green {
  background-color: #145a32 !important;
  border-color: #0e4a28 !important;
  color: white !important;
}

.btn-dark-green:hover {
  background-color: #0e4a28 !important;
  border-color: #0b3a20 !important;
}

a.active {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

a:hover {
  color: #00bfae;
  transition: color 0.3s ease;
}

a.active:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #212529; 
}

#root {
  height: 100%;
}
